#jatekter
{
    border: 1px solid red;
    width: 100%;
    height: 40vw;
    display: flex;
}

#leftside
{
    width: 30%;
    height: 40vw;
    
}
#kartyabox
{
    border: 1px solid green;
    width: 100%;
    height: 20vw;

}

#pontbox
{
    border: 1px solid palegreen;
    width: 100%;
    height: 20vw;
}

#tabla
{
    border: 1px solid purple;
    width: 50%;
    height: 40vw;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
#korbox
{
    border: 1px solid royalblue ;
    width: 19%;
    height: 40vw;
    
}

.sordiv
{
    display: flex;
    flex-direction: row;
    height: 8vw;
}

.oszlopdiv
{
    width: 16.6%;
    margin: 5px;
}
.sordiv, .oszlopdiv
{
    border: 1px solid black;
}


img{

    width : 100%;
}


