#jatekter
{
    border: 5px solid #5C4033;
    width: 100%;
    height: 40vw;
    display: flex;
}

#leftside
{
    width: 30%;
    height: 40vw;
    
}
#kartyabox
{
    border: 5px solid #5C4033;
    width: 100%;
    height: 20vw;
    background-color: #5C4012;

}

#pontbox
{
    border: 5px solid #5C4033;
    width: 100%;
    height: 20vw;
    background-image: url(../kartya/ermearanycseh.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#tabla
{
    border: 5px solid #5C4033;
    width: 50%;
    height: 40vw;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #5C4012;
}
#korbox
{
    border: 5px solid #5C4033 ;
    width: 19%;
    height: 40vw;
    
}

.sordiv
{
    display: flex;
    flex-direction: row;
    height: 8vw;
}

.oszlopdiv
{
    width: 16.6%;
    margin: 5px;
    
}
.sordiv, .oszlopdiv
{
    border: 10px solid #5C4033;
    background-image: url(../kartya/fű-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


img{

    width : 100%;
}

body
{
    background-image: url(../hatter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


#korbox
{

    background-image: url(../kartya/kicsitdagideammjo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
